<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reservations</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div th:insert="fragments/nav :: nav"></div>
<div class="container">
    <h2>Welcome to the Reservation Website!</h2>
    <p><span style="color:blue" th:text="${msg}"></span></p>

    <form method = "GET" th:action="@{/reservation/car}" id = "car">
        <tr>
            <td>
                <!--Insert Image for Car here-->
                Car
            </td>
            <td>
                <input type="submit" name="car" value="car"/>
            </td>
        </tr>
    </form>

    <form method = "GET"  th:action="@{/reservation/flight}"id = "flight">
        <tr>
            <td>
                <!--Insert Image for flight here-->
                Flight
            </td>
            <td>
                <input type="submit" name="flight" value="Flight"/>
            </td>
        </tr>
    </form>

    <form method = "POST"  th:action="@{/new/hotel}"id = "hotel">
      <table>
        <tr>
          <th>Hotel Name</th>
        </tr>
        <tr th:each="hotel : ${hotels}">
          <td th:text="${hotel.hotel_name}"></td>
          <td th:text="${hotel.check_in}"></td>
          <td th:text="${hotel.check_out}"></td>
          <td th:text="${hotel.total_rooms}"></td>
          <td th:text="${hotel.total_price}"></td>
        </tr>
      </table>
            <td>
                <!--Insert Image for Hotel here-->

                Hotel
            </td>
            <td>
                <input type="submit" name="hotel" value="Hotel"/>
            </td>
        </tr>
    </form>


          <div>
             <form action="#" method="post" th:action="@{/new/car}" th:object="${car}">
                <table>
                   <tr>
                      <h2>Car Reservation</h2>
                   </tr>
                   <tr>
                      <td>
                         <label>Pick Up Location</label>
                      </td>
                      <td>
                         <select name="pickupLocation">
                            <option value="sd">San Diego</option>
                            <option value="monterey">Monterey</option>
                            <option value="honolulu">Honolulu</option>
                         </select>
                      </td>
                   </tr>
                   <tr>
                      <td>
                         <label>Pick Up Date </label>
                      </td>
                      <td>
                         <div>
                            <input type="date" name="pickupDate" data-date-format="MM/DD/YYYY">
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td>
                        <label>Return Location</label>
                      </td>
                      <td>
                         <div>
                            <select name="returnLocation">
                               <option value="sd">San Diego</option>
                               <option value="monterey">Monterey</option>
                               <option value="honolulu">Honolulu</option>
                            </select>
                         </div>
                      </td>
                   </tr>
                   <tr>
                      <td>
                        <label>Drop Off Up Date</label>
                      </td>
                      <td>
                         <input type="date" name = "returnDate" data-date-format="MM/DD/YYYY">
                      </td>
                   </tr>
                   <tr>
                      <td>
                         <label>Car Type</label>
                      </td>
                      <td>
                         <div>
                            <select name="carType">
                               <option value="SUV">SUV</option>
                               <option value="Fullsize">Full Size</option>
                               <option value="Economy">Economy</option>
                               <option value="Compact">Economy</option>
                            </select>
                         </div>
                      </td>
                   </tr>
                   <tr>
                    <td>
                        <div>
                            <button type="submit">Submit</button>
                        </div>
                    </td>
                   </tr>
                </table>
             </form>
          </div>

</div>
</body>
</html>
